In [2]:
import sqlite3

In [3]:
con = sqlite3.connect('website/user_history.db')

In [4]:
cur = con.cursor()

In [8]:
def run_sql(command):
    cur.execute(command)
    return cur.fetchall()

In [9]:
run_sql('SELECT * from sqlite_master where type= "table"')

[('table',
  'user',
  'user',
  2,
  'CREATE TABLE user (\n\tid INTEGER NOT NULL, \n\tusername VARCHAR(30) NOT NULL, \n\tpassword_hash VARCHAR(50) NOT NULL, \n\tPRIMARY KEY (id), \n\tUNIQUE (username)\n)'),
 ('table',
  'bookmark',
  'bookmark',
  4,
  'CREATE TABLE bookmark (\n\tid INTEGER NOT NULL, \n\tanime_id INTEGER NOT NULL, \n\tdate_created DATETIME, \n\tuser_id INTEGER, \n\tPRIMARY KEY (id), \n\tUNIQUE (anime_id), \n\tFOREIGN KEY(user_id) REFERENCES user (id)\n)')]

In [10]:
run_sql('SELECT * FROM bookmark')

[(1, 5114, '2021-06-03 15:25:06', 1),
 (2, 40028, '2021-06-03 15:25:10', 1),
 (3, 9253, '2021-06-03 15:28:13', 1),
 (4, 38524, '2021-06-03 15:29:03', 1)]

In [11]:
run_sql('SELECT * FROM bookmark ORDER BY date_created DESC')

[(4, 38524, '2021-06-03 15:29:03', 1),
 (3, 9253, '2021-06-03 15:28:13', 1),
 (2, 40028, '2021-06-03 15:25:10', 1),
 (1, 5114, '2021-06-03 15:25:06', 1)]